<h1 [transloco]="baseTranslationKey + 'title'"></h1>

<p-confirmPopup/>

<p-table [value]="tableData.content" [tableStyle]="{'min-width': '30rem'}" [lazy]="true" (onLazyLoad)="loadTableData($event)" dataKey="id" [loading]="loading"
         [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50, 100]" [showCurrentPageReport]="true" [totalRecords]="tableData.page.totalElements"
         [currentPageReportTemplate]="'common.paginator' | transloco" [sortMode]="'multiple'" [multiSortMeta]="defaultSort">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <p-button [label]="'common.new' | transloco" icon="pi pi-plus" (onClick)="create()"/>
      <p-button [label]="'common.refresh' | transloco" icon="pi pi-refresh" (onClick)="reload()" severity="secondary"/>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name" class="col-name">
        {{ baseTranslationKey + 'fields.name' | transloco }}
        <p-sortIcon field="name"/>
      </th>
      <th class="col-actions"></th>
    </tr>
    <tr>
      <th>
        <p-columnFilter type="text" field="name" [showMenu]="false" matchMode="contains" [placeholder]="'common.search' | transloco"/>
      </th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-ou>
    <tr>
      <td>{{ ou.name }}</td>
      <td>
        <span class="p-buttonset">
          <p-button (onClick)="edit(ou)" icon="pi pi-pencil" [pTooltip]="'common.edit' | transloco" tooltipPosition="top" [showDelay]="1000"
                    severity="warning" size="small"/>
          <p-button (onClick)="delete(ou, $event)" icon="pi pi-trash" [pTooltip]="'common.delete' | transloco" tooltipPosition="top" [showDelay]="1000"
                    severity="danger" size="small"/>
          @if (!ou.moodleSynced) {
            <p-button size="small" icon="pi pi-exclamation-triangle" severity="danger" [text]="true" (onClick)="sync(ou)"
                      [pTooltip]="baseTranslationKey + 'errors.moodleSync' | transloco" [showDelay]="1000"/>
          }
        </span>
      </td>
    </tr>
  </ng-template>
</p-table>
