<p-messages/>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="grid formgrid p-fluid">
    <div class="field mb-4 col-12">
      <label for="password" [transloco]="'users.fields.password'"></label>
      <input id="password" type="password" pInputText formControlName="password" autocomplete="off" autofocus>
      @if (form.controls.password.dirty || form.controls.password.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.password, 'users.fields.password') }}
        </small>
      }
    </div>
  </div>

  <div class="surface-border border-top-1 opacity-50 mb-4"></div>

  <div class="flex justify-content-between">
    <p-button [label]="'primeng.cancel' | transloco" class="w-auto" (onClick)="cancel()" severity="secondary" [outlined]="true" [disabled]="loading"/>
    <button pButton [label]="'common.save' | transloco" [disabled]="form.invalid" class="w-auto" type="submit" [loading]="loading"></button>
  </div>
</form>
