<p-messages/>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="grid formgrid p-fluid">
    <div class="field mb-4 col-12">
      <label for="taskType" [transloco]="this.baseTranslationKey + 'fields.taskType'"></label>
      <p-autoComplete id="taskType" formControlName="taskType" [autofocus]="true" [suggestions]="suggestions" (completeMethod)="searchTaskType($event)"/>
      @if (form.controls.taskType.dirty || form.controls.taskType.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.taskType, this.baseTranslationKey + 'fields.taskType') }}
        </small>
      }
    </div>

    <div class="field mb-4 col-12">
      <label for="url" [transloco]="this.baseTranslationKey + 'fields.url'"></label>
      <input id="url" type="text" pInputText formControlName="url" autocomplete="off">
      @if (form.controls.url.dirty || form.controls.url.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.url, this.baseTranslationKey + 'fields.url') }}
        </small>
      }
    </div>

    <div class="field mb-4 col-12">
      <label for="apiKey" [transloco]="this.baseTranslationKey + 'fields.apiKey'"></label>
      <input id="apiKey" type="text" pInputText formControlName="apiKey" autocomplete="off">
      @if (form.controls.apiKey.dirty || form.controls.apiKey.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.apiKey, this.baseTranslationKey + 'fields.apiKey') }}
        </small>
      }
    </div>

    <div class="field mb-4 col-6">
      <label for="taskPrefix" [transloco]="this.baseTranslationKey + 'fields.taskPrefix'"></label>
      <input id="taskPrefix" type="text" pInputText formControlName="taskPrefix" autocomplete="off">
      @if (form.controls.taskPrefix.dirty || form.controls.taskPrefix.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.taskPrefix, this.baseTranslationKey + 'fields.taskPrefix') }}
        </small>
      }
    </div>

    <div class="field mb-4 col-6">
      <label for="taskGroupPrefix" [transloco]="this.baseTranslationKey + 'fields.taskGroupPrefix'"></label>
      <input id="taskGroupPrefix" type="text" pInputText formControlName="taskGroupPrefix" autocomplete="off">
      @if (form.controls.taskGroupPrefix.dirty || form.controls.taskGroupPrefix.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.taskGroupPrefix, this.baseTranslationKey + 'fields.taskGroupPrefix') }}
        </small>
      }
    </div>

    <div class="field mb-4 col-6">
      <label for="submissionPrefix" [transloco]="this.baseTranslationKey + 'fields.submissionPrefix'"></label>
      <input id="submissionPrefix" type="text" pInputText formControlName="submissionPrefix" autocomplete="off">
      @if (form.controls.submissionPrefix.dirty || form.controls.submissionPrefix.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.submissionPrefix, this.baseTranslationKey + 'fields.submissionPrefix') }}
        </small>
      }
    </div>

    <div class="col-6">
      <div class="mt-2 text-color-secondary">{{ this.baseTranslationKey + 'urlHint' | transloco }}</div>
    </div>

    <div class="col-12 mt-1 mb-3 text-color-secondary">{{ this.baseTranslationKey + 'reloadHint' | transloco }}</div>
  </div>

  <dke-audit-information [data]="originalEntity"/>

  <div class="surface-border border-top-1 opacity-50 mb-4"></div>

  <div class="flex justify-content-between">
    <p-button [label]="'primeng.cancel' | transloco" class="w-auto" (onClick)="cancel()" severity="secondary" [outlined]="true" [disabled]="loading"/>
    <button pButton [label]="(!originalEntity ? 'common.create' : 'common.save') | transloco" [disabled]="form.invalid" class="w-auto" type="submit"
            [loading]="loading"></button>
  </div>
</form>
