.col-username {
  width: 15%;
}

.col-firstName {
  width: 25%;
}

.col-lastName {
  width: 25%;
}

.col-email {
  width: 27%;
}

.col-enabled {
  width: 7%
}

.col-actions {
  min-width: 8rem;
  width: 8rem;
  max-width: 8rem;
}
