<div [formGroup]="form">
  <div class="surface-card p-4 shadow-2 border-round p-fluid mb-4">
    <div class="grid formgrid p-fluid">
      <div class="field mb-4 col-12">
        <label for="solution" transloco="taskTypes.drools.fields.droolsSolution"></label>
        <ngx-monaco-editor id="solution" formControlName="solution" [options]="droolsEditorOptions" style="height: 300px;"/>
        @if (form.controls.solution.dirty || form.controls.solution.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.solution, 'taskTypes.xquery.fields.droolsSolution') }}
          </small>
        }
      </div>

      <div class="field mb-4 col-12">
        <label for="objects" transloco="taskTypes.drools.fields.droolsObjects"></label>
        <ngx-monaco-editor id="objects" formControlName="objects" [options]="csvEditorOptions" style="height: 200px;"/>
        @if (form.controls.objects.dirty || form.controls.objects.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.objects, 'taskTypes.drools.fields.droolsObjects') }}
          </small>
        }
      </div>
      <div class="field mb-4 col-12">
        <label for="errorWeighting" [transloco]="'taskTypes.drools.fields.droolsErrorWeighting'"></label>
        <input id="errorWeighting" type="number" pInputText formControlName="errorWeighting" autocomplete="off">
        @if (form.controls.errorWeighting.dirty || form.controls.errorWeighting.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.errorWeighting, 'taksTypes.drools.fields.errorWeighting') }}
          </small>
        }
      </div>
      <div class="field mb-4 col-12">
        <label for="validationClassname" [transloco]="'taskTypes.drools.fields.droolsValidationClassname'"></label>
        <input id="validationClassname" type="text" pInputText formControlName="validationClassname" autocomplete="off">
        @if (form.controls.validationClassname.dirty || form.controls.validationClassname.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.validationClassname, 'taskTypes.drools.fields.droolsValidationClassname') }}
          </small>
        }
      </div>
    </div>
    <div class="field mb-4 col-12 md:col-6">
      <label for="isCEP" transloco="taskTypes.drools.fields.droolsIsCEP"></label>
      <p-checkbox inputId="isCEP" formControlName="isCEP" class="block" [binary]="true"/>
    </div>
  </div>
  <div class="surface-card p-4 shadow-2 border-round p-fluid mb-4">
    <div class="flex justify-content-between mb-4">
      <p class="font-bold" transloco="taskTypes.drools.fields.droolsClasses"></p>
      <p-button [label]="'taskTypes.drools.fields.droolsAddClass' | transloco" (onClick)="addDroolsClass()" severity="help" [disabled]="loading"
                class="w-auto" size="small"/>
    </div>
    <div formArrayName="classes">
      <div *ngFor="let c of classes.controls; let i = index" [formGroupName]="i">
        <div class="grid formgrid p-fluid">
          <div class="field col-3 mb-4">
            <input type="text" pInputText formControlName="classname" placeholder="Class Name">
          </div>
          <div class="field col-8 mb-4">
            <ngx-monaco-editor formControlName="classBody" [options]="javaEditorOptions" style="height: 150px;"/>
<!--            <input type="text" pInputText formControlName="classBody" placeholder="Class Body">-->
          </div>
          <div class="field col-1 mb-4">
            <p-button icon="pi pi-trash" severity="danger" (onClick)="removeDroolsClass(i)"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>

  </div>
</div>
