<div [formGroup]="form">
  <div class="surface-card p-4 shadow-2 border-round p-fluid mb-4">
    <div class="grid formgrid p-fluid">

      @if (testCasePointsExceedMaxPoints) {
        <small class="block mt-1 mb-4 p-error col-12">
          {{
            'taskTypes.drools.messages.testCasePointsExceedMaxPoints' | transloco: {
              testCasePoints: definedTestCasePoints,
              maxPoints: maxPoints
            }
          }}
        </small>
      }

      <div class="field mb-4 col-12">
        <label transloco="taskTypes.drools.fields.modelDrl"></label>
        <ngx-monaco-editor
          id="modelDrl"
          formControlName="modelDrl"
          [options]="droolsEditorOptions"
          style="height: 250px;"
          (onInit)="onModelDrlEditorInit($event)"/>
        @if (form.controls.modelDrl.dirty || form.controls.modelDrl.touched) {
        <small class="block mt-1 p-error whitespace-pre-line">
          @if (form.controls.modelDrl.errors?.['droolsSyntax']) {
          {{ form.controls.modelDrl.errors?.['droolsSyntax'] }}
          } @else {
          {{ getError(form.controls.modelDrl, 'taskTypes.drools.fields.modelDrl') }}
          }
        </small>
        }
      </div>

      <div class="field mb-4 col-12">
        <label transloco="taskTypes.drools.fields.droolsSolution"></label>
        <ngx-monaco-editor
          id="solutionDrl"
          formControlName="solutionDrl"
          [options]="droolsEditorOptions"
          style="height: 300px;"
          (onInit)="onSolutionDrlEditorInit($event)"/>
        @if (form.controls.solutionDrl.dirty || form.controls.solutionDrl.touched) {
        <small class="block mt-1 p-error whitespace-pre-line">
          @if (form.controls.solutionDrl.errors?.['droolsSyntax']) {
          {{ form.controls.solutionDrl.errors?.['droolsSyntax'] }}
          } @else {
          {{ getError(form.controls.solutionDrl, 'taskTypes.drools.fields.droolsSolution') }}
          }
        </small>
        }
      </div>

      <div class="field mb-4 col-12">
        <label transloco="taskTypes.drools.fields.visibleTestCases"></label>
        <ngx-monaco-editor
          id="visibleTestCases"
          formControlName="visibleTestCases"
          [options]="csvEditorOptions"
          style="height: 200px;"
          (onInit)="onVisibleTestCasesEditorInit($event)"/>
        @if (form.controls.visibleTestCases.dirty || form.controls.visibleTestCases.touched) {
        <small class="block mt-1 p-error whitespace-pre-line">
          @if (form.controls.visibleTestCases.errors?.['testCaseSyntax']) {
          {{ form.controls.visibleTestCases.errors?.['testCaseSyntax'] }}
          } @else {
          {{ getError(form.controls.visibleTestCases, 'taskTypes.drools.fields.visibleTestCases') }}
          }
        </small>
        }
      </div>

      <div class="field mb-4 col-12">
        <label transloco="taskTypes.drools.fields.hiddenTestCases"></label>
        <ngx-monaco-editor
          id="hiddenTestCases"
          formControlName="hiddenTestCases"
          [options]="csvEditorOptions"
          style="height: 200px;"
          (onInit)="onHiddenTestCasesEditorInit($event)"/>
        @if (form.controls.hiddenTestCases.dirty || form.controls.hiddenTestCases.touched) {
        <small class="block mt-1 p-error whitespace-pre-line">
          @if (form.controls.hiddenTestCases.errors?.['testCaseSyntax']) {
          {{ form.controls.hiddenTestCases.errors?.['testCaseSyntax'] }}
          } @else {
          {{ getError(form.controls.hiddenTestCases, 'taskTypes.drools.fields.hiddenTestCases') }}
          }
        </small>
        }
      </div>

    </div>
    <div class="field mb-4 col-12 md:col-6">
      <label transloco="taskTypes.drools.fields.feedbackLevel"></label>
      <p-dropdown
        inputId="feedbackLevel"
        formControlName="feedbackLevel"
        [options]="feedbackLevels"
        optionLabel="label"
        optionValue="value"/>
    </div>
    <div class="field mb-4 col-12 md:col-6">
      <label transloco="taskTypes.drools.fields.droolsIsCEP"></label>
      <p-checkbox inputId="isCEP" formControlName="isCEP" class="block" [binary]="true"/>
    </div>
  </div>
</div>
