<div class="surface-card p-4 shadow-2 border-round p-fluid mb-4" [formGroup]="form">
  <div class="grid formgrid p-fluid">

    <div class="col-12 mb-4">
      <div class="flex align-items-start gap-2 p-3 border-1 border-300 border-round border-left-3 border-primary">
        <i class="pi pi-info-circle mt-1 text-primary"></i>
        <span transloco="taskTypes.hierarchical-clustering.hint" class="text-sm line-height-3 text-color"></span>
      </div>
    </div>

    <div class="field mb-4 col-12">
      <label transloco="taskTypes.hierarchical-clustering.fields.assignmentType" class="font-bold"></label>
      <div class="flex flex-row gap-4">
        <p-radioButton
          name="assignmentType"
          [value]="AssignmentType.COORDINATES"
          formControlName="assignmentType"
          inputId="stratCoords"
        ></p-radioButton>
        <label for="stratCoords" transloco="taskTypes.hierarchical-clustering.fields.type.coordinates"></label>

        <p-radioButton
          name="assignmentType"
          [value]="AssignmentType.MATRIX"
          formControlName="assignmentType"
          inputId="stratMatrix"
        ></p-radioButton>
        <label for="stratMatrix"  transloco="taskTypes.hierarchical-clustering.fields.type.matrix"></label>
      </div>
      @if (form.controls.assignmentType.dirty || form.controls.assignmentType.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.assignmentType, 'taskTypes.hierarchical-clustering.fields.assignmentType') }}
        </small>
      }
    </div>

    @if (form.controls.assignmentType.value === AssignmentType.COORDINATES) {
      <div class="field mb-4 col-12">
        <label transloco="taskTypes.hierarchical-clustering.fields.distanceMetric" class="font-bold"></label>
        <div class="flex flex-row gap-4">
          <p-radioButton
            name="distanceMetric"
            [value]="DistanceMetric.EUCLIDEAN"
            formControlName="distanceMetric"
            inputId="euclidean"
          ></p-radioButton>
          <label for="euclidean" transloco="taskTypes.hierarchical-clustering.fields.metric.euclidean"></label>

          <p-radioButton
            name="distanceMetric"
            [value]="DistanceMetric.MANHATTAN"
            formControlName="distanceMetric"
            inputId="manhattan"
          ></p-radioButton>
          <label for="manhattan"  transloco="taskTypes.hierarchical-clustering.fields.metric.manhattan"></label>
        </div>
        @if (form.controls.distanceMetric.dirty || form.controls.distanceMetric.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.distanceMetric, 'taskTypes.hierarchical-clustering.fields.distanceMetric') }}
          </small>
        }
      </div>

      <ng-container [formGroup]="coordinateSystem">
        <div class="field mb-4 col-12 md:col-3">
          <label for="minX" transloco="taskTypes.hierarchical-clustering.fields.coordinateSystem.minX" class="font-bold"></label>
          <p-inputNumber inputId="minX" formControlName="minX" [maxFractionDigits]="0" />
          @if (minXControl.dirty || minXControl.touched) {
            <small class="block mt-1 p-error">
              {{ getError(minXControl, 'taskTypes.hierarchical-clustering.fields.coordinateSystem.minX') }}
            </small>
          }
        </div>

        <div class="field mb-4 col-12 md:col-3">
          <label for="maxX" transloco="taskTypes.hierarchical-clustering.fields.coordinateSystem.maxX" class="font-bold"></label>
          <p-inputNumber inputId="maxX" formControlName="maxX" [maxFractionDigits]="0" />
          @if (maxXControl.dirty || maxXControl.touched) {
            <small class="block mt-1 p-error">
              {{ getError(maxXControl, 'taskTypes.hierarchical-clustering.fields.coordinateSystem.maxX') }}
            </small>
          }
        </div>

        <div class="field mb-4 col-12 md:col-3">
          <label for="minY" transloco="taskTypes.hierarchical-clustering.fields.coordinateSystem.minY" class="font-bold"></label>
          <p-inputNumber inputId="minY" formControlName="minY" [maxFractionDigits]="0" />
          @if (minYControl.dirty || minYControl.touched) {
            <small class="block mt-1 p-error">
              {{ getError(minYControl, 'taskTypes.hierarchical-clustering.fields.coordinateSystem.minY') }}
            </small>
          }
        </div>

        <div class="field mb-4 col-12 md:col-3">
          <label for="maxY" transloco="taskTypes.hierarchical-clustering.fields.coordinateSystem.maxY" class="font-bold"></label>
          <p-inputNumber inputId="maxY" formControlName="maxY" [maxFractionDigits]="0" />
          @if (maxYControl.dirty || maxYControl.touched) {
            <small class="block mt-1 p-error">
              {{ getError(maxYControl, 'taskTypes.hierarchical-clustering.fields.coordinateSystem.maxY') }}
            </small>
          }
        </div>
      </ng-container>
    }

    <div class="field mb-4 col-12 md:col-6">
      <label for="nDataPoints" transloco="taskTypes.hierarchical-clustering.fields.nDataPoints" class="font-bold"></label>
      <p-inputNumber inputId="nDataPoints" formControlName="nDataPoints" [maxFractionDigits]="0" />
      @if (form.controls.nDataPoints.dirty || form.controls.nDataPoints.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.nDataPoints, 'taskTypes.hierarchical-clustering.fields.nDataPoints') }}
        </small>
      }
    </div>

    <div class="field mb-4 col-12">
      <label transloco="taskTypes.hierarchical-clustering.fields.linkageMethod" class="font-bold"></label>
      <div class="flex flex-row gap-4">
        <p-radioButton
          name="linkageMethod"
          [value]="LinkageMethod.SINGLE"
          formControlName="linkageMethod"
          inputId="linkageSingle"
        ></p-radioButton>
        <label for="linkageSingle" transloco="taskTypes.hierarchical-clustering.fields.linkage.single"></label>

        <p-radioButton
          name="linkageMethod"
          [value]="LinkageMethod.COMPLETE"
          formControlName="linkageMethod"
          inputId="linkageComplete"
        ></p-radioButton>
        <label for="linkageComplete"  transloco="taskTypes.hierarchical-clustering.fields.linkage.complete"></label>
      </div>
      @if (form.controls.linkageMethod.dirty || form.controls.linkageMethod.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.linkageMethod, 'taskTypes.hierarchical-clustering.fields.linkageMethod') }}
        </small>
      }
    </div>

    <div class="field mb-4 col-12 md:col-6">
      <label for="pointsPerCorrectCluster" transloco="taskTypes.hierarchical-clustering.fields.pointsPerCorrectCluster" class="font-bold"></label>
      <p-inputNumber inputId="pointsPerCorrectCluster" formControlName="pointsPerCorrectCluster" [maxFractionDigits]="4" />
      @if (form.controls.pointsPerCorrectCluster.dirty || form.controls.pointsPerCorrectCluster.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.pointsPerCorrectCluster, 'taskTypes.hierarchical-clustering.fields.pointsPerCorrectCluster') }}
        </small>
      }
    </div>

    <div class="field mb-4 col-12 md:col-6">
      <label for="wrongOrderPenalty" transloco="taskTypes.hierarchical-clustering.fields.wrongOrderPenalty" class="font-bold"></label>
      <p-inputNumber inputId="wrongOrderPenalty" formControlName="wrongOrderPenalty" [maxFractionDigits]="2" />
      @if (form.controls.wrongOrderPenalty.dirty || form.controls.wrongOrderPenalty.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.wrongOrderPenalty, 'taskTypes.hierarchical-clustering.fields.wrongOrderPenalty') }}
        </small>
      }
    </div>

    <div class="flex flex-column gap-4">
      @if (coordinateList.length > 0) {
        <ng-container [formGroup]="coordinateSystem">
          <div class="flex flex-column">
            <label transloco="taskTypes.hierarchical-clustering.coordinateList" class="block mb-2 font-bold"></label>
            <div class="inline-block">
              <table class="border-collapse w-auto">
                <thead>
                <tr>
                  <th></th>
                  <th class="px-3 py-2 text-sm font-medium text-600 text-center whitespace-nowrap">
                    X
                  </th>
                  <th class="px-3 py-2 text-sm font-medium text-600 text-center whitespace-nowrap">
                    Y
                  </th>
                </tr>
                </thead>
                <tbody formArrayName="coordinateList">
                  @for (control of coordinateList.controls; track control; let i = $index) {
                    <tr [formGroupName]="i">
                      <th scope="row" class="px-3 py-1 text-sm text-600 text-left whitespace-nowrap">
                        {{ control.value.label }}
                      </th>

                      <td class="px-2 py-1">
                        <p-inputNumber
                          formControlName="x"
                          [minFractionDigits]="0"
                          [maxFractionDigits]="2"
                          inputStyleClass="text-center w-full"
                        />
                      </td>

                      <td class="px-2 py-1">
                        <p-inputNumber
                          formControlName="y"
                          [minFractionDigits]="0"
                          [maxFractionDigits]="2"
                          inputStyleClass="text-center w-full"
                        />
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>
      }

      @if (labelsArray.length > 0) {
        <div class="flex flex-column">
          <label transloco="taskTypes.hierarchical-clustering.distanceMatrix" class="block mb-2 font-bold"></label>
          <div class="col-12 overflow-x-auto" [formGroup]="distanceMatrixGroup">
            <table class="w-full">
              <thead>
              <tr>
                <th></th>
                @for (label of labelsArray.controls; track label) {
                  <th class="text-center">
                    <span class="text-sm font-medium text-600">{{ label.value }}</span>
                  </th>
                }
              </tr>
              </thead>
              <tbody formArrayName="distances">
                @for (row of distancesArray.controls; track row; let rowIndex = $index) {
                  <tr formArrayName="{{ rowIndex }}">
                    <td class="pr-2">
                      <span class="text-sm font-medium text-600">{{ labelsArray.controls[rowIndex].value }}</span>
                    </td>
                    @for (cell of getRow(rowIndex).controls; track cell; let colIndex = $index) {
                      @if (rowIndex >= colIndex) { <!-- only display lower triangle -->
                        <td class="p-1">
                          <p-inputNumber
                            [formControlName]="colIndex"
                            [minFractionDigits]="0"
                            [maxFractionDigits]="5"
                            [inputStyle]="form.controls.assignmentType.value === AssignmentType.COORDINATES || rowIndex == colIndex ?
                              {'pointer-events': 'none', 'background': 'var(--surface-200)', 'opacity': '0.7'} : {}"
                            inputStyleClass="text-center w-full"
                          />
                        </td>
                      }
                    }
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      }

      @if (solution) {
        <div class="field mb-4 col-12 md:col-6">
          <label for="solution" transloco="taskTypes.hierarchical-clustering.solution" class="font-bold"></label>
          <div style="white-space: pre-wrap">{{ solution }}</div>
        </div>
      }

      @if (dendrogramUrl) {
        <div>
          <label class="font-bold block min-h-2rem" transloco="taskTypes.hierarchical-clustering.dendrogram"></label>
          <img [src]="dendrogramUrl" class="top-50" alt="Dendrogram">
        </div>

        <div class="field mb-4 col-12">
          <button
            pButton
            type="button"
            icon="pi pi-download"
            class="p-button-outlined w-auto"
            style="gap: 0.5rem;"
            (click)="downloadDendrogram()"
            transloco="taskTypes.hierarchical-clustering.downloadPng"></button>
        </div>
      }
    </div>

  </div>
</div>
