<div class="surface-card p-4 shadow-2 border-round p-fluid mb-4" [formGroup]="form">
  <div class="grid formgrid p-fluid">

    <div class="field mb-4 col-12">
      <label transloco="taskTypes.hierarchical-clustering.fields.assignmentType" class="font-bold"></label>
      <div class="flex flex-row gap-4">
        <p-radioButton
          name="assignmentType"
          [value]="AssignmentType.COORDINATES"
          formControlName="assignmentType"
          inputId="stratCoords"
        ></p-radioButton>
        <label for="stratCoords" transloco="taskTypes.hierarchical-clustering.fields.strategy.coordinates"></label>

        <p-radioButton
          name="assignmentType"
          [value]="AssignmentType.MATRIX"
          formControlName="assignmentType"
          inputId="stratMatrix"
        ></p-radioButton>
        <label for="stratMatrix"  transloco="taskTypes.hierarchical-clustering.fields.strategy.matrix"></label>
      </div>
      @if (form.controls.assignmentType.dirty || form.controls.assignmentType.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.assignmentType, 'taskTypes.hierarchical-clustering.fields.assignmentType') }}
        </small>
      }
    </div>

    @if (form.controls.assignmentType.getRawValue() === AssignmentType.COORDINATES) {
      <div class="field mb-4 col-12">
        <label transloco="taskTypes.hierarchical-clustering.fields.distanceMetric" class="font-bold"></label>
        <div class="flex flex-row gap-4">
          <p-radioButton
            name="distanceMetric"
            [value]="DistanceMetric.EUCLIDEAN"
            formControlName="distanceMetric"
            inputId="euclidean"
          ></p-radioButton>
          <label for="euclidean" transloco="taskTypes.hierarchical-clustering.fields.metric.euclidean"></label>

          <p-radioButton
            name="distanceMetric"
            [value]="DistanceMetric.MANHATTAN"
            formControlName="distanceMetric"
            inputId="manhattan"
          ></p-radioButton>
          <label for="manhattan"  transloco="taskTypes.hierarchical-clustering.fields.metric.manhattan"></label>
        </div>
        @if (form.controls.distanceMetric.dirty || form.controls.distanceMetric.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.distanceMetric, 'taskTypes.hierarchical-clustering.fields.distanceMetric') }}
          </small>
        }
      </div>
    }

    <div class="field mb-4 col-12 md:col-6">
      <label for="nDataPoints" transloco="taskTypes.hierarchical-clustering.fields.nDataPoints" class="font-bold"></label>
      <p-inputNumber inputId="nDataPoints" formControlName="nDataPoints" [maxFractionDigits]="0" />
      @if (form.controls.nDataPoints.dirty || form.controls.nDataPoints.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.nDataPoints, 'taskTypes.hierarchical-clustering.fields.nDataPoints') }}
        </small>
      }
    </div>

    <div class="field mb-4 col-12">
      <label transloco="taskTypes.hierarchical-clustering.fields.linkageMethod" class="font-bold"></label>
      <div class="flex flex-row gap-4">
        <p-radioButton
          name="linkageMethod"
          [value]="LinkageMethod.SINGLE"
          formControlName="linkageMethod"
          inputId="linkageSingle"
        ></p-radioButton>
        <label for="linkageSingle" transloco="taskTypes.hierarchical-clustering.fields.linkage.single"></label>

        <p-radioButton
          name="linkageMethod"
          [value]="LinkageMethod.COMPLETE"
          formControlName="linkageMethod"
          inputId="linkageComplete"
        ></p-radioButton>
        <label for="linkageComplete"  transloco="taskTypes.hierarchical-clustering.fields.linkage.complete"></label>
      </div>
      @if (form.controls.linkageMethod.dirty || form.controls.linkageMethod.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.linkageMethod, 'taskTypes.hierarchical-clustering.fields.linkageMethod') }}
        </small>
      }
    </div>

    <div class="field mb-4 col-12 md:col-6">
      <label for="pointsPerCorrectCluster" transloco="taskTypes.hierarchical-clustering.fields.pointsPerCorrectCluster" class="font-bold"></label>
      <p-inputNumber inputId="pointsPerCorrectCluster" formControlName="pointsPerCorrectCluster" [maxFractionDigits]="2" />
      @if (form.controls.pointsPerCorrectCluster.dirty || form.controls.pointsPerCorrectCluster.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.pointsPerCorrectCluster, 'taskTypes.hierarchical-clustering.fields.pointsPerCorrectCluster') }}
        </small>
      }
    </div>

    <div class="field mb-4 col-12 md:col-6">
      <label for="wrongOrderPenalty" transloco="taskTypes.hierarchical-clustering.fields.wrongOrderPenalty" class="font-bold"></label>
      <p-inputNumber inputId="wrongOrderPenalty" formControlName="wrongOrderPenalty" [maxFractionDigits]="2" />
      @if (form.controls.wrongOrderPenalty.dirty || form.controls.wrongOrderPenalty.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.wrongOrderPenalty, 'taskTypes.hierarchical-clustering.fields.wrongOrderPenalty') }}
        </small>
      }
    </div>

    <div class="flex flex-column gap-4">
      @if (coordinatePoints.length > 0) {
        <div class="flex flex-column">
          <label transloco="taskTypes.hierarchical-clustering.fields.coordinatePoints" class="block mb-2 font-bold"></label>
          <div class="inline-block">
            <table class="border-collapse w-auto">
              <thead>
              <tr>
                <th></th>
                <th class="px-3 py-2 text-sm font-medium text-600 text-center whitespace-nowrap">
                  X
                </th>
                <th class="px-3 py-2 text-sm font-medium text-600 text-center whitespace-nowrap">
                  Y
                </th>
              </tr>
              </thead>
              <tbody formArrayName="coordinatePoints">
                @for (control of coordinatePoints.controls; track i; let i = $index) {
                  <tr [formGroupName]="i">
                    <th scope="row" class="px-3 py-1 text-sm text-600 text-left whitespace-nowrap">
                      {{ control.value?.label }}
                    </th>

                    <td class="px-2 py-1">
                      <p-inputNumber
                        formControlName="x"
                        [minFractionDigits]="0"
                        [maxFractionDigits]="1"
                        inputStyleClass="text-center w-full"
                      />
                    </td>

                    <td class="px-2 py-1">
                      <p-inputNumber
                        formControlName="y"
                        [minFractionDigits]="0"
                        [maxFractionDigits]="1"
                        inputStyleClass="text-center w-full"
                      />
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      }

      @if (labelsArray.length > 0) {
        <div class="flex flex-column">
          <label transloco="taskTypes.hierarchical-clustering.fields.distanceMatrix" class="block mb-2 font-bold"></label>
          <div class="col-12 overflow-x-auto" [formGroup]="distanceMatrixGroup">
            <table class="distance-matrix-table w-full">
              <thead>
              <tr>
                <th class="matrix-corner"></th>
                @for (label of labelsArray.controls; track $index) {
                  <th class="matrix-header text-center">
                    <span class="text-sm font-medium text-600">{{ label.value }}</span>
                  </th>
                }
              </tr>
              </thead>
              <tbody formArrayName="distances">
                @for (row of distancesArray.controls; track $index; let rowIndex = $index) {
                  <tr formArrayName="{{ rowIndex }}">
                    <td class="label-cell pr-2">
                      <span class="text-sm font-medium text-600">{{ labelsArray.controls[rowIndex].value }}</span>
                    </td>
                    @for (cell of getRow(rowIndex).controls; track $index; let colIndex = $index) {
                      <td class="distance-cell p-1">
                        <p-inputNumber
                          [formControlName]="colIndex"
                          [minFractionDigits]="0"
                          [maxFractionDigits]="4"
                          [inputStyle]="form.controls.assignmentType.value === AssignmentType.COORDINATES || rowIndex <= colIndex ?
                            {'pointer-events': 'none', 'background': 'var(--surface-200)', 'opacity': '0.7'} : {}"
                          inputStyleClass="text-center w-full"
                        />
                      </td>
                    }
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      }

      @if (solution) {
        <div class="field mb-4 col-12 md:col-6">
          <label for="solution" transloco="taskTypes.hierarchical-clustering.solution" class="font-bold"></label>
          <div style="white-space: pre-line;">{{ solution }}</div>
        </div>
      }
    </div>

  </div>
</div>
