  p-card {
    margin-bottom: 1.5rem;
  }
  
  .range-card .p-card-header {
    font-weight: 600;
    background: var(--surface-50);
  }

.w-7 { width: 70%; }

.field label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 600;
}


