.with-ou {
  .col-parentId {
    width: 30%;
  }

  .col-name {
    width: 30%;
  }

  .col-organizationalUnitId {
    width: 30%;
  }
}

.col-id {
  width: 10%;
}

.col-parentId {
  width: 25%;
}

.col-name {
  width: 50%;
}

.col-actions {
  min-width: 10rem;
  width: 10rem;
  max-width: 10rem;
}
