<div [formGroup]="form">
  <div class="surface-card p-4 shadow-2 border-round p-fluid mb-4">
    <div class="grid formgrid p-fluid">
      <div class="field mb-4 col-12">
        <label for="solution" transloco="taskTypes.datalog.fields.solution"></label>
        <ngx-monaco-editor id="solution" formControlName="solution" [options]="editorOptions" style="height: 300px;"/>
        <small transloco="taskTypes.datalog.descriptions.solution" class="text-color-secondary block mt-1"></small>
        @if (form.controls.solution.dirty || form.controls.solution.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.solution, 'taskTypes.datalog.fields.solution') }}
          </small>
        }
      </div>
      <div class="field mb-4 col-12">
        <label for="query" transloco="taskTypes.datalog.fields.query"></label>
        <ngx-monaco-editor id="query" formControlName="query" [options]="editorOptions" style="height: 50px;"/>
        <small transloco="taskTypes.datalog.descriptions.query" class="text-color-secondary block mt-1"></small>
        @if (form.controls.query.dirty || form.controls.query.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.query, 'taskTypes.datalog.fields.query') }}
          </small>
        }
      </div>
      <div class="field mb-4 col-12">
        <label for="uncheckedTerms" transloco="taskTypes.datalog.fields.uncheckedTerms"></label>
        <ngx-monaco-editor id="uncheckedTerms" formControlName="uncheckedTerms" [options]="editorOptions" style="height: 100px;"/>
        <small transloco="taskTypes.datalog.descriptions.uncheckedTerms" class="text-color-secondary block mt-1"></small>
        @if (form.controls.uncheckedTerms.dirty || form.controls.uncheckedTerms.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.uncheckedTerms, 'taskTypes.datalog.fields.uncheckedTerms') }}
          </small>
        }
      </div>
    </div>
  </div>

  <div class="surface-card p-4 shadow-2 border-round p-fluid mb-4">
    <div class="grid formgrid p-fluid">
      <div class="field mb-4 col-12 md:col-6">
        <label for="missingPredicatePenalty" transloco="taskTypes.datalog.fields.missingPredicatePenalty"></label>
        <p-inputNumber inputId="missingPredicatePenalty" formControlName="missingPredicatePenalty" mode="decimal" [maxFractionDigits]="2" [min]="0"/>
        @if (form.controls.missingPredicatePenalty.dirty || form.controls.missingPredicatePenalty.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.missingPredicatePenalty, 'taskTypes.datalog.fields.missingPredicatePenalty') }}
          </small>
        }
      </div>
      <div class="field mb-4 col-12 md:col-6">
        <label for="missingPredicateStrategy" transloco="taskTypes.datalog.fields.missingPredicateStrategy"></label>
        <p-dropdown inputId="missingPredicateStrategy" formControlName="missingPredicateStrategy" [options]="strategies" optionValue="value"
                    optionLabel="text"/>
        @if (form.controls.missingPredicateStrategy.dirty || form.controls.missingPredicateStrategy.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.missingPredicateStrategy, 'taskTypes.datalog.fields.missingPredicateStrategy') }}
          </small>
        }
      </div>

      <div class="field mb-4 col-12 md:col-6">
        <label for="missingFactPenalty" transloco="taskTypes.datalog.fields.missingFactPenalty"></label>
        <p-inputNumber inputId="missingFactPenalty" formControlName="missingFactPenalty" mode="decimal" [maxFractionDigits]="2" [min]="0"/>
        @if (form.controls.missingFactPenalty.dirty || form.controls.missingFactPenalty.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.missingFactPenalty, 'taskTypes.datalog.fields.missingFactPenalty') }}
          </small>
        }
      </div>
      <div class="field mb-4 col-12 md:col-6">
        <label for="missingFactStrategy" transloco="taskTypes.datalog.fields.missingFactStrategy"></label>
        <p-dropdown inputId="missingFactStrategy" formControlName="missingFactStrategy" [options]="strategies" optionValue="value" optionLabel="text"/>
        @if (form.controls.missingFactStrategy.dirty || form.controls.missingFactStrategy.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.missingFactStrategy, 'taskTypes.datalog.fields.missingFactStrategy') }}
          </small>
        }
      </div>

      <div class="field mb-4 col-12 md:col-6">
        <label for="superfluousFactPenalty" transloco="taskTypes.datalog.fields.superfluousFactPenalty"></label>
        <p-inputNumber inputId="superfluousFactPenalty" formControlName="superfluousFactPenalty" mode="decimal" [maxFractionDigits]="2" [min]="0"/>
        @if (form.controls.superfluousFactPenalty.dirty || form.controls.superfluousFactPenalty.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.superfluousFactPenalty, 'taskTypes.datalog.fields.superfluousFactPenalty') }}
          </small>
        }
      </div>
      <div class="field mb-4 col-12 md:col-6">
        <label for="superfluousFactStrategy" transloco="taskTypes.datalog.fields.superfluousFactStrategy"></label>
        <p-dropdown inputId="superfluousFactStrategy" formControlName="superfluousFactStrategy" [options]="strategies" optionValue="value" optionLabel="text"/>
        @if (form.controls.superfluousFactStrategy.dirty || form.controls.superfluousFactStrategy.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.superfluousFactStrategy, 'taskTypes.datalog.fields.superfluousFactStrategy') }}
          </small>
        }
      </div>
    </div>
  </div>
</div>
