<ul class="list-none p-3 m-0">
  <li>
    <a routerLink="tasks" routerLinkActive="text-green" [routerLinkActiveOptions]="{exact: false}"
       class="flex flex-row lg:flex-column align-items-center cursor-pointer p-2 lg:justify-content-center hover:bg-gray-800 border-round text-gray-300 hover:text-white transition-duration-150 transition-colors">
      <i class="pi pi-code mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-lg"></i>
      <span class="font-medium inline text-base lg:text-xs lg:block w-full text-center multiline" transloco="menu.tasks"></span>
    </a>
  </li>

  <li>
    <a routerLink="taskGroups" routerLinkActive="text-green" [routerLinkActiveOptions]="{exact: false}"
       class="flex flex-row lg:flex-column align-items-center cursor-pointer py-3 p-2 lg:justify-content-center hover:bg-gray-800 border-round text-gray-300 hover:text-white transition-duration-150 transition-colors">
      <i class="pi pi-folder mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-lg"></i>
      <span class="font-medium inline text-base lg:text-xs lg:block w-full text-center multiline" transloco="menu.taskGroups"></span>
    </a>
  </li>

  <li>
    <a routerLink="taskCategories" routerLinkActive="text-green" [routerLinkActiveOptions]="{exact: false}"
       class="flex flex-row lg:flex-column align-items-center cursor-pointer py-3 p-2 lg:justify-content-center hover:bg-gray-800 border-round text-gray-300 hover:text-white transition-duration-150 transition-colors">
      <i class="pi pi-tag mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-lg"></i>
      <span class="font-medium inline text-base lg:text-xs lg:block w-full text-center multiline" transloco="menu.taskCategories"></span>
    </a>
  </li>

  @if (isAdmin()) {
    <li>
      <hr class="mb-3 mx-3 border-top-1 border-none border-gray-800"/>
    </li>
  }

  @if (isFullAdmin()) {
    <li>
      <a routerLink="organizationalUnits" routerLinkActive="text-green"
         class="flex flex-row lg:flex-column align-items-center cursor-pointer py-3 p-2 lg:justify-content-center hover:bg-gray-800 border-round text-gray-300 hover:text-white transition-duration-150 transition-colors">
        <i class="pi pi-building mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-lg"></i>
        <span class="font-medium inline text-base lg:text-xs lg:block w-full text-center multiline" transloco="menu.ou"></span>
      </a>
    </li>
  }

  @if (isAdmin()) {
    <li>
      <a routerLink="users" routerLinkActive="text-green" [routerLinkActiveOptions]="{exact: false}"
         class="flex flex-row lg:flex-column align-items-center cursor-pointer py-3 p-2 lg:justify-content-center hover:bg-gray-800 border-round text-gray-300 hover:text-white transition-duration-150 transition-colors">
        <i class="pi pi-user mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-lg"></i>
        <span class="font-medium inline text-base lg:text-xs lg:block w-full text-center multiline" transloco="menu.users"></span>
      </a>
    </li>
  }

  @if (isFullAdmin()) {
    <li>
      <a routerLink="taskApps" routerLinkActive="text-green" [routerLinkActiveOptions]="{exact: false}"
         class="flex flex-row lg:flex-column align-items-center cursor-pointer py-3 p-2 lg:justify-content-center hover:bg-gray-800 border-round text-gray-300 hover:text-white transition-duration-150 transition-colors">
        <i class="pi pi-server mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-lg"></i>
        <span class="font-medium inline text-base lg:text-xs lg:block w-full text-center multiline" transloco="menu.taskApps"></span>
      </a>
    </li>

    <li>
      <a routerLink="health" routerLinkActive="text-green" [routerLinkActiveOptions]="{exact: false}"
         class="flex flex-row lg:flex-column align-items-center cursor-pointer py-3 p-2 lg:justify-content-center hover:bg-gray-800 border-round text-gray-300 hover:text-white transition-duration-150 transition-colors">
        <i class="pi pi-heart mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-lg"></i>
        <span class="font-medium inline text-base lg:text-xs lg:block w-full text-center multiline" transloco="menu.health"></span>
      </a>
    </li>
  }
</ul>
