<div class="surface-card p-4 shadow-2 border-round p-fluid mb-4" [formGroup]="form">
  <div class="grid formgrid p-fluid">

    <div class="field mb-4 col-12">
      <div class="grid">
        <div class="field mb-4 col-4">
          <label for="maxPoints" transloco="taskGroupTypes.intensional-schema.fields.maxPoints"></label>
          <p-inputNumber id="maxPoints" inputId="maxPoints" formControlName="maxPoints" [min]="0" [maxFractionDigits]="2"></p-inputNumber>
          <small class="block mt-1 p-error" *ngIf="form.controls.maxPoints.dirty || form.controls.maxPoints.touched">
            {{ getError(form.controls.maxPoints, 'taskGroupTypes.intensional-schema.fields.maxPoints') }}
          </small>
        </div>

        <div class="field mb-4 col-4">
          <label for="superfluousStatementsPenalty" transloco="taskGroupTypes.intensional-schema.fields.superfluousStatementsPenalty"></label>
          <p-inputNumber id="superfluousStatementsPenalty" inputId="superfluousStatementsPenalty" formControlName="superfluousStatementsPenalty"
                         [maxFractionDigits]="2"></p-inputNumber>
          <small class="block mt-1 p-error" *ngIf="form.controls.superfluousStatementsPenalty.dirty || form.controls.superfluousStatementsPenalty.touched">
            {{ getError(form.controls.superfluousStatementsPenalty, 'taskGroupTypes.intensional-schema.fields.superfluousStatementsPenalty') }}
          </small>
        </div>

        <div class="field mb-4 col-4">
          <label for="superfluousAttributesPenalty" transloco="taskGroupTypes.intensional-schema.fields.superfluousAttributesPenalty"></label>
          <p-inputNumber id="superfluousAttributesPenalty" inputId="superfluousAttributesPenalty" formControlName="superfluousAttributesPenalty"
                         [maxFractionDigits]="2"></p-inputNumber>
          <small class="block mt-1 p-error" *ngIf="form.controls.superfluousAttributesPenalty.dirty || form.controls.superfluousAttributesPenalty.touched">
            {{ getError(form.controls.superfluousAttributesPenalty, 'taskGroupTypes.intensional-schema.fields.superfluousAttributesPenalty') }}
          </small>
        </div>
      </div>
    </div>

    <div class="field mb-4 col-12">
      <label for="ddlStatements" transloco="taskGroupTypes.sql.fields.ddlStatements"></label>
      <ngx-monaco-editor id="ddlStatements" formControlName="ddlStatements" [options]="editorOptions" style="height: 500px;"/>
      @if (form.controls.ddlStatements.dirty || form.controls.ddlStatements.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.ddlStatements, 'taskGroupTypes.sql.fields.ddlStatements') }}
        </small>
      }
    </div>

    <div class="field mb-4 col-12">
      <label for="diagnoseDmlStatements" transloco="taskGroupTypes.sql.fields.diagnoseDmlStatements"></label>
      <ngx-monaco-editor id="diagnoseDmlStatements" formControlName="diagnoseDmlStatements" [options]="editorOptions" style="height: 300px;"/>
      @if (form.controls.diagnoseDmlStatements.dirty || form.controls.diagnoseDmlStatements.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.diagnoseDmlStatements, 'taskGroupTypes.sql.fields.diagnoseDmlStatements') }}
        </small>
      }
    </div>

    <div class="field mb-4 col-12">
      <label for="submitDmlStatements" transloco="taskGroupTypes.sql.fields.submitDmlStatements"></label>
      <ngx-monaco-editor id="submitDmlStatements" formControlName="submitDmlStatements" [options]="editorOptions" style="height: 300px;"/>
      @if (form.controls.submitDmlStatements.dirty || form.controls.submitDmlStatements.touched) {
        <small class="block mt-1 p-error">
          {{ getError(form.controls.submitDmlStatements, 'taskGroupTypes.sql.fields.submitDmlStatements') }}
        </small>
      }
    </div>

    <div formArrayName="declareStmt" class="col-12">
      <div *ngFor="let declareStmt of declareStmt.controls; let i = index" [formGroupName]="i" class="grid">
        <div class="col-10">
          <div class="field mb-2">
            <label for="statementName-{{i}}" transloco="taskGroupTypes.intensional-schema.fields.declareStmtName"></label>
            <input id="statementName-{{i}}" type="text" pInputText formControlName="statementName" autocomplete="off"/>
            <small class="block mt-1 p-error" *ngIf="declareStmt.get('statementName')?.dirty || declareStmt.get('statementName')?.touched">
              {{ getError(asFormControl(declareStmt.get('statementName')), 'taskGroupTypes.intensional-schema.fields.declareStmtName') }}
            </small>
          </div>
        </div>

        <div class="col-2 flex align-items-center justify-content-center">
          <p-button
            icon="pi pi-trash"
            class="p-button-danger p-button-sm"
            (click)="removeDeclareStmtEntry(i)"></p-button>
        </div>

        <div class="field mb-4 col-12 mt-2">
          <label for="statement-{{i}}" transloco="taskGroupTypes.intensional-schema.fields.declareStmt"></label>
          <ngx-monaco-editor id="statement-{{i}}" formControlName="statement" [options]="editorOptions" style="height: 300px;"></ngx-monaco-editor>
          <small class="block mt-1 p-error" *ngIf="declareStmt.get('statement')?.dirty || declareStmt.get('statement')?.touched">
            {{ getError(asFormControl(declareStmt.get('statement')), 'taskGroupTypes.intensional-schema.fields.declareStmt') }}
          </small>
        </div>
      </div>
    </div>

    <div class="col-12 mb-2">
      <p-button
        icon="pi pi-check-square"
        [label]="'taskGroupTypes.intensional-schema.fields.declareStmt' | transloco"
        (click)="addDeclareStmtEntry()"/>
    </div>
  </div>
</div>
