<p-blockUI [blocked]="loading"/>

<div class="flex justify-content-between align-items-center">
  <h1 [transloco]="baseTranslationKey + (originalEntity ? 'edit' : 'create')"></h1>
  <div>
    <p-button [label]="(form.dirty ? 'primeng.cancel' : 'primeng.back') | transloco" class="w-auto" (onClick)="cancel()" severity="secondary" [outlined]="true"
              [disabled]="loading"
              styleClass="mr-2"/>
    @if (role !== 'TUTOR' || !originalEntity || originalEntity.status !== 'APPROVED') {
      <p-button [label]="(originalEntity ? 'common.save' : 'common.create') | transloco" [disabled]="form.invalid" [loading]="loading"
                (onClick)="submit()"></p-button>
    }
  </div>
</div>

<form [formGroup]="form">
  <div class="surface-card p-4 shadow-2 border-round p-fluid mb-4">
    <div class="grid formgrid p-fluid">
      <div class="field mb-4 col-12 md:col-6">
        <label for="name" [transloco]="this.baseTranslationKey + 'fields.name'"></label>
        <input id="name" type="text" pInputText formControlName="name" autocomplete="off" autofocus>
        @if (form.controls.name.dirty || form.controls.name.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.name, this.baseTranslationKey + 'fields.name') }}
          </small>
        }
      </div>

      <div class="field mb-4 col-12 md:col-6">
        <label for="taskGroupType" [transloco]="this.baseTranslationKey + 'fields.taskGroupType'"></label>
        <p-dropdown inputId="taskGroupType" formControlName="taskGroupType" [options]="types" optionValue="value"
                    optionLabel="text" [readonly]="!!originalEntity" [filter]="true" [filterFields]="['text']"/>
        @if (form.controls.taskGroupType.dirty || form.controls.taskGroupType.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.taskGroupType, this.baseTranslationKey + 'fields.taskGroupType') }}
          </small>
        }
      </div>

      <div class="field mb-4 col-12 md:col-6">
        <label for="descriptionDe" [transloco]="this.baseTranslationKey + 'fields.descriptionDe'"></label>
        <dke-editor formControlName="descriptionDe" id="descriptionDe" [height]="250" />
        @if (form.controls.descriptionDe.dirty || form.controls.descriptionDe.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.descriptionDe, this.baseTranslationKey + 'fields.descriptionDe') }}
          </small>
        }
        @if (supportsDescriptionGeneration) {
          <small class="block mt-1 text-color-secondary">
            {{ baseTranslationKey + 'descriptionGeneration' | transloco }}
          </small>
        }
      </div>

      <div class="field mb-4 col-12 md:col-6">
        <label for="descriptionEn" [transloco]="this.baseTranslationKey + 'fields.descriptionEn'"></label>
        <dke-editor formControlName="descriptionEn" id="descriptionEn" [height]="250" />
        @if (form.controls.descriptionEn.dirty || form.controls.descriptionEn.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.descriptionEn, this.baseTranslationKey + 'fields.descriptionEn') }}
          </small>
        }
        @if (supportsDescriptionGeneration) {
          <small class="block mt-1 text-color-secondary">
            {{ baseTranslationKey + 'descriptionGeneration' | transloco }}
          </small>
        }
      </div>

      <div class="field mb-4 col-12 md:col-6">
        <label for="status" [transloco]="this.baseTranslationKey + 'fields.status'"></label>
        <p-dropdown inputId="status" formControlName="status" [options]="statuses" optionValue="value" optionDisabled="disabled" optionLabel="text"/>
        @if (form.controls.status.dirty || form.controls.status.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.status, this.baseTranslationKey + 'fields.status') }}
          </small>
        }
      </div>

      <div class="field mb-4 col-12 md:col-6">
        <label for="organizationalUnitId" [transloco]="this.baseTranslationKey + 'fields.organizationalUnitId'"></label>
        <p-dropdown inputId="organizationalUnitId" formControlName="organizationalUnitId" [options]="organizationalUnits" optionValue="id"
                    optionLabel="name" [readonly]="role === 'TUTOR' && form.value.status !== 'DRAFT'" [filter]="true" [filterFields]="['name']"/>
        @if (form.controls.organizationalUnitId.dirty || form.controls.organizationalUnitId.touched) {
          <small class="block mt-1 p-error">
            {{ getError(form.controls.organizationalUnitId, this.baseTranslationKey + 'fields.organizationalUnitId') }}
          </small>
        }
      </div>
    </div>
  </div>

  @if (componentForm) {
    <ng-container *ngComponentOutlet="componentForm; inputs: {formGroup: form.controls.additionalData, formData: additionalData, parentForm: form, taskGroup: originalEntity}"/>
  }
</form>

<dke-audit-information [data]="originalEntity"/>
@if (originalEntity && (originalEntity.approvedBy || originalEntity.approvedDate)) {
  <p class="text-color-secondary text-xs">
    {{ baseTranslationKey + 'approved' | transloco }}: {{ originalEntity.approvedBy }}, {{ originalEntity.approvedDate | date:'medium' }}
  </p>
}
