<dke-simple-layout>
  <h3 transloco="auth.activate.title"></h3>
  @if (!success) {
    <p transloco="auth.activate.text" class="mb-5"></p>
  }

  <p-messages [closable]="false"/>

  @if (!success) {
    <form [formGroup]="form" (ngSubmit)="submit()" class="mt-5">
      <div class="field p-fluid mb-3">
        <label for="password" transloco="auth.activate.password"></label>
        <input id="password" type="password" pInputText formControlName="password" autocomplete="new-password" autofocus>
        @if (form.controls.password.dirty) {
          <small class="block mt-1 p-error">
            {{ getErrorMessage('password') }}
          </small>
        }
      </div>

      <div class="field p-fluid mb-3">
        <label for="passwordConfirmation" transloco="auth.activate.passwordConfirmation"></label>
        <input id="passwordConfirmation" type="password" pInputText formControlName="passwordConfirmation" autocomplete="off">
        @if (form.controls.passwordConfirmation.dirty) {
          <small class="block mt-1 p-error">
            {{ getErrorMessage('passwordConfirmation') }}
          </small>
        }
        @if (form.controls.passwordConfirmation.dirty && form.hasError('equals')) {
          <small class="block mt-1 p-error">
            {{ 'auth.activate.messages.password_error' }}
          </small>
        }
      </div>

      <button pButton [label]="'auth.activate.submit' | transloco" class="w-full"
              [disabled]="form.invalid" [loading]="loading" type="submit"></button>
    </form>
  } @else {
    <a routerLink="/auth/login" pButton transloco="auth.activate.toLogin" class="no-underline"></a>
  }
</dke-simple-layout>
