<div [formGroup]="form">
  <div class="surface-card p-4 shadow-2 border-round p-fluid mb-4">
    <div class="grid formgrid p-fluid">

      <div formArrayName="solutionAspects" class="col-12">
        <div *ngFor="let aspect of solutionAspects.controls; let i = index" [formGroupName]="i" class="grid">
          <div class="field mb-4 col-12 md:col-6">
            <label for="solutionName-{{i}}" transloco="taskTypes.intensional-schema.fields.solutionName"></label>
            <input id="solutionName-{{i}}" type="text" pInputText formControlName="solutionName" autocomplete="off">
            <small class="block mt-1 p-error" *ngIf="aspect.get('solutionName')?.dirty || aspect.get('solutionName')?.touched">
              {{ getError(asFormControl(aspect.get('solutionName')), 'taskTypes.intensional-schema.fields.solutionName') }}
            </small>
          </div>

          <div class="field mt-4 mb-4 col-12 md:col-2">
            <p-dropdown
              formControlName="solutionType"
              [options]="solutionType"
              optionLabel="name"
              optionValue="name"
              placeholder="Select a Solution Type"/>
          </div>

          <div class="field mb-4 col-12 md:col-2">
            <label for="solutionMaxPoints-{{i}}" [transloco]="'taskTypes.intensional-schema.fields.solutionMaxPoints'"></label>
            <input id="solutionMaxPoints-{{i}}" type="number" pInputText formControlName="solutionMaxPoints" autocomplete="off">
            <small class="block mt-1 p-error" *ngIf="aspect.get('solutionMaxPoints')?.dirty || aspect.get('solutionMaxPoints')?.touched">
              {{ getError(asFormControl(aspect.get('solutionMaxPoints')), 'taskTypes.intensional-schema.fields.solutionMaxPoints') }}
            </small>
          </div>

          <div class="field mt-4 mb-4 col-12 md:col-2">
            <p-button
              icon="pi pi-check-square"
              [label]="'taskTypes.intensional-schema.fields.showAspects' | transloco"
              (click)="toggleSolutionEval(i)"/>
          </div>

          <div class="field mb-4 col-12 md:col-8">
            <label for="solution-{{i}}" transloco="taskTypes.intensional-schema.fields.solution"></label>
            <ngx-monaco-editor id="solution-{{i}}" formControlName="solution" [options]="editorOptions"
                               style="height: 300px;"></ngx-monaco-editor>
            <small class="block mt-1 p-error" *ngIf="aspect.get('solution')?.dirty || aspect.get('solution')?.touched">
              {{ getError(asFormControl(aspect.get('solution')), 'taskTypes.intensional-schema.fields.solution') }}
            </small>
          </div>

          <div class="field mb-4 col-12 md:col-4">
            <ng-container *ngIf="aspect.get('showEval')?.value">
              <div class="grid mt-2 mb-2">
                <div class="col-8">
                  <label for="solutionAspectName-{{i}}" transloco="taskTypes.intensional-schema.fields.solutionAspectName"></label>
                </div>
                <div class="col-4">
                  <label for="solutionAspectPoints-{{i}}" transloco="taskTypes.intensional-schema.fields.solutionAspectPoints"></label>
                </div>
              </div>

              <div formArrayName="taskSolutionAspects">
                <div *ngFor="let eval of getEvaluations(i).controls; let j = index" [formGroupName]="j" class="mb-2">

                  <div class="grid formgrid p-fluid">
                    <div class="field mb-4 col-12 md:col-8">
                      <input id="solutionAspectName-{{i}}-{{j}}" type="text" pInputText formControlName="solutionAspectName" autocomplete="off">
                      <small class="block mt-1 p-error"
                             *ngIf="eval.get('solutionAspectName')?.dirty || eval.get('solutionAspectName')?.touched">
                        {{ getError(asFormControl(form.controls.solutionAspectName), 'taskTypes.intensional-schema.fields.solutionAspectName') }}
                      </small>
                    </div>

                    <div class="field mb-4 col-12 md:col-2">
                      <input id="solutionAspectPoints-{{i}}-{{j}}" type="number" pInputText formControlName="solutionAspectPoints" autocomplete="off">
                      <small class="block mt-1 p-error"
                             *ngIf="eval.get('solutionAspectPoints')?.dirty || eval.get('solutionAspectPoints')?.touched">
                        {{ getError(asFormControl(form.controls.solutionAspectPoints), 'taskTypes.intensional-schema.fields.solutionAspectPoints') }}
                      </small>
                    </div>

                    <div class="field mb-4 col-12 md:col-2">
                      <p-button icon="pi pi-trash" (click)="removeEvaluation(i, j)"/>
                    </div>
                  </div>
                </div>

                <div class="col-12 md:col-10 mt-2">
                  <button pButton type="button" icon="pi pi-plus" (click)="addEvaluation(i)"
                          style="width:100%; display:flex; align-items:center; justify-content:center;"></button>
                </div>
              </div>
            </ng-container>
          </div>

          <div class="col-12 flex align-items-center justify-content-center">
            <button pButton (click)="removeSolution(i)"
                    [label]="'taskTypes.intensional-schema.fields.removeSolution' | transloco"
                    style="display:flex; align-items:center; justify-content:center;">
            </button>
          </div>
          <div class="w-full md:w-2/12">
            <hr style="color:gray; background-color:gray"/>
          </div>
        </div>

        <div class="col-12 flex align-items-center justify-content-center">
          <button pButton (click)="addSolution()"
                  [label]="'taskTypes.intensional-schema.fields.addSolution' | transloco"
                  style="display:flex; align-items:center; justify-content:center;">
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>
